<div class="fade-in">
    <c-card>
      <c-card-header>
        Map
      </c-card-header>
      <c-card-body>
        <div *ngIf="gmLoader.apiLoaded | async">
          <google-map [options]="options" [width]="'100%'" [height]="'500px'">
            <map-marker #marker="mapMarker"
                        *ngFor="let m of markers; let i = index"
                        [label]="m.label"
                        [title]="m.title"
                        [position]="m.position"
                        [options]="m.options"
                        (mapClick)="openInfoWindow(marker, m)">
            </map-marker>
            <map-info-window>
              <a href="{{activeInfoWindow?.www}}" target="_blank" class="px-2"><strong>{{activeInfoWindow?.title}}</strong></a>
            </map-info-window>
          </google-map>
        </div>
      </c-card-body>
    </c-card>
  </div>
  