<div class="modal-header">
    <h4 class="modal-title pull-left">Change Password</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="fade-in">
      <c-row>
        <c-col md="12">
          <c-card>
            <c-card-body>
              <c-row>
                <c-col md="12">
                  <form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()" class="needs-validation">
                    <c-form-group>
                      <label class="col-form-label" for="old_password">Old Password</label>
                      <input cInput id="old_password" formControlName="old_password" placeholder="Enter your old password" required
                        [autofocus]="true"
                        [ngClass]="{ 'is-invalid': (submitted || f.old_password.touched) && f.old_password.invalid, 'is-valid':  f.old_password.valid  }" />
                      <div *ngIf="submitted && f['old_password'].invalid" class="invalid-feedback">
                        <div *ngIf="f['old_password'].errors.required">Old password is required</div>
                      </div>
                    </c-form-group>
                    <c-form-group>
                      <label class="col-form-label" for="new_password">New password</label>
                      <input cInput id="new_password" formControlName="new_password" placeholder="Enter your new password" required
                        [autofocus]="true"
                        [ngClass]="{ 'is-invalid': (submitted || f.new_password.touched) && f.new_password.invalid, 'is-valid':  f.new_password.valid  }" />
                      <div *ngIf="submitted && f['new_password'].invalid" class="invalid-feedback">
                        <div *ngIf="f['new_password'].errors.required">New password is required</div>
                      </div>
                    </c-form-group>                    
  
                    <c-form-group>
                      <button cButton color="success" class="mfe-1" type="submit"
                        [disabled]="userForm.pristine || userForm.invalid" [tabindex]="'0'">Submit</button>
                      <!-- <button cButton color="success" class="mfe-1" [disabled]="userForm.valid" (click)="onValidate()"
                        [tabindex]="'0'">Validate</button> -->
                      <button cButton color="danger" type="reset" (click)="onReset()" [tabindex]="'0'">Reset</button>
                    </c-form-group>
                  </form>
                </c-col>
              </c-row>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </div>
  
  </div>